{% load static %} 
{% autoescape off %}  

<html>
  <head>
    <link rel="stylesheet" href=" {% static 'assets/styles/account/register/account_verification_email.css' %}"
  />
  </head>
  <body>
    <div class="confirm-container">
      <a href="#" class="logo-container">
        <img src="./logp.png" alt="" />
      </a>
      <div class="confirm-content">
        <p>{{ user.first_name }} {{ user.last_name }},</p>
        <p>
            Please click on the link to confirm your registration,  
            http://{{ domain }}{% url 'activate' uidb64=uid token=token %}  
            if you think it'is not you, please ignore this email.
        </p>
        <span>Email : marchenrikouassi@gmail.com</span>
        <span>Mot de passe : Mot de passe défini lors de la création de compte</span>
        <p>
          <div>
            <span> En vous connectant à votre compte, vous pourrez </span>

            <ul>
                <li>Effectuer votre commande plus rapidement</li>
                <li>Suivre le statut de vos commandes</li>
                <li>Voir votre historique de commandes</li>
                <li>Enregistrer d'autres adresses (pour expédier à la famille ou des amis)</li>
            </ul>
          </div>
          <span>Si vous avez besoin d'une assistance supplémentaire, vous pouvez nous envoyer un e-mail à 
            l'adresse customercare@jacquemus.com.</span>
        </p>
      </div>
      <div class="confirm-header">
        <ul class="confirm-header-top">
            <li>Service client</li>
            <li><a class="a-phone" href="#">+33 07 52 37 66 67 </a>| <a href="#">customercare@jacquemus.com</a></li>
        </ul>
        <ul class="confirm-header-middle">
            <li><a href="">Retours et échanges</a></li>
            <li><a href="">Informations de livraison</a></li>
            <li><a href="">Conditions de ventes</a></li>
        </ul>
        <ul class="confirm-header-bottom">
            <li><a href="">Jacquemus.com</a> | </li>
            <li><a href="">Instagram</a> | </li>
            <li><a href="">Politique de confidentialité</a> | </li>
            <li><a href="">Conditions de ventes</a></li>
        </ul>
    </div>
    </div>

  </body>
</html>
{% endautoescape %} 















{% comment %} {% autoescape off %}  
Hi {{ user.first_name }},  
Please click on the link to confirm your registration,  
http://{{ domain }}{% url 'activate' uidb64=uid token=token %}  
if you think it'is not you, please ignore this email.

{% endautoescape %}   {% endcomment %}