{% extends '../base.html' %} {% load static %} {% block title %} Reset your
password {% endblock %} {% block content %} {% if request.user.is_authenticated %}
<script>
  window.location.href = '{% url "home" %}';
</script>
{% endif %}
<link
  rel="stylesheet"
  href="{% static 'assets/styles/account/forgotPassword.css' %}"
/>

<section class="fg_password_container">
  <div class="fg_password_content">
    <h4 class="fg_title">Forgot your password ?</h4>
    {% if messages %}
    <div class="available_message" role="alert" id="error-message">
      {% for message in messages %} {% if 'pwdreset_error' in message.tags %}
      <span>{{ message }}</span>
      {% endif %} {% endfor %}
    </div>
    <div class="available_message" role="alert" id="success-message">
      {% for message in messages %} {% if 'pwdreset_success' in message.tags %}
      <span>{{ message }}</span>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'resetPassword' %}" method="POST">
      {% csrf_token %}

      <div class="fg_group">
        <input type="password" name="password" id="" placeholder="Password" />
      </div>
      <div class="fg_group">
        <input
          type="password"
          name="password2"
          id=""
          placeholder="Confirm password"
        />
      </div>
      <div class="fg_group">
        <a href="{% url 'login' %}" class="">Got password ? Login</a>
      </div>
      <div class="fg_group">
        <button type="submit" class="">Reset</button>
      </div>
    </form>
    <p class="text-center mt-4">
      Don't have account ? <a href="{% url 'register' %}">Sign up</a>
    </p>
  </div>
</section>
<script src="{% static 'assets/js/alert.js' %}"></script>
{% endblock %}
