body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containeros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containeros > p{
   font-size: 1.6em;
}