{% extends '../base.html' %} {% load static %} {% block title %}Everything about
Parisianist{% endblock %} {% block content %}
<link rel="stylesheet" href=" {% static 'assets/styles/home/about.css' %}" />

<div class="about-container">
  <div class="about-logo">
    <img src="{% static 'assets/imgs/logo-fond-noir.png' %}" alt="" srcset="" />
  </div>
  <div class="the-name">
    <h2>The brand</h2>
    <p>
      Parisianist est une marque de prêt à porter française pour homme et femme
      fondée par Rare Chandelier. Le fondateur et directeur artistique puise son
      inspiration dans les 3 domaines artistiques principaux que sont la mode,
      l’art et la musique et entend bien véhiculer un mouvement qui offre une
      collaboration en parfaite harmonie de ces 3 domaines. De ce fait, il
      ambitionne de collaborer avec des talents de la nouvelle vague de
      différents horizons artistiques (architectes, musiciens, danseurs,
      acteurs, réalisateurs, peintres, sculpteurs etc…)
    </p>
  </div>
  <div class="the-brand">
    <h2>The name</h2>
    <p>
      Le nom Parisianist vient du terme “Parisianisme” qui désigne initialement
      des traits linguistiques et culturels propres aux Parisiens. À la fin du
      xvie siècle, il désigne une « façon de parler propre aux Parisiens » bien
      qu’il ait pris tout récemment une connotation péjorative désignant une
      forme d’ethnocentrisme parisien. l’ADN se concentre sur l’idée d&#39;être
      une acteur majeur de la promotion de l&#39;esthétique et du savoir-fair
      français à l’international/ Enfin, Le nom Parisianist peut aussi se
      présenter comme une religion basée sur le charme de la culture parisienne.
    </p>
  </div>
  <div class="the-aesthetic">
    <h2>Aesthetic</h2>
    <p>
      La marque est intentionnellement minimaliste, les coupes sont épurées et
      créatives pour offrir une silhouette élégante. Inspirée par la rigueur et
      l’esthétisme des maisons de haute couture, elle propose un style parisien
      intemporel, sophistiqué et est fabriquée avec des matières sélectionnées
      pour leur qualité et conçue pour être portée au quotidien et pour des
      grandes occasions. Chaque campagne doit véhiculer une esthétique poétique,
      élégante et artistique.
    </p>
  </div>
  <div class="the-inspiration">
    <h2>The inspiration</h2>
    <p>
      La marque tire principalement ces influences des domaines de la mode,l’art
      et la musique. Le style de l&#39;icône parisienne Carine Roitfeld est une
      source majeure d’inspiration mais aussi celui de l’actrice Audrey Hepburn
      dans ses films les plus iconiques. Elle est une admiratrice du chic à la
      française qu’ont popularisé des marques telles que Chanel ou Saint
      Laurent. De plus, elle adule la photographie élégante du photographe Guy
      Bourdin. Enfin, elle puise son inspiration dans l&#39;architecture, les
      musées et les hôtels 5 étoiles parisiens.
    </p>
  </div>

  <div class="the-goal">
    <h2>The goal</h2>
    <p>
      La marque a pour objectif d&#39; être une vitrine de l&#39;esthétique et
      du savoir-faire français à l’international et ambitionne de collaborer
      avec des marques majeures du luxe français. Elle a pour but de devenir
      incontournable dans le positionnement de prêt à porter de luxe afin de
      rejoindre le panthéon des maisons de haute couture, qui l’ont influencé, à
      l’avenue Montaigne.
    </p>
  </div>

  <div class="about-store-image">
    <img src="{% static 'assets/imgs/psf.jpg' %}" alt=""/>
  </div>
</div>

{% endblock %}
