{% extends '../styles.html' %} 
{% load static %} 
{% block title %} Privacy Policy {% endblock %} 

{% block content %}
<link rel="stylesheet" href=" {% static 'assets/styles/policy/policy.css' %}" />

<div class="policy-container">
  <div class="policy-header">
    <h4>Privacy Policy</h4>
  </div>
  <div class="policy-content">
    <div class="policy-one">
      <h4>The title</h4>
      <p>
        The present "General Terms and Conditions of Sale »(hereinafter to as
        the GTCS) apply to distance selling of LEMAIRE articles and are reserved
        for consumers acting exclusively for their personal use (hereinafter the
        customer), being specified that French law applies to any order placed
        via the LEMAIRE website available at www.lemaire.fr (hereinafter the
        site) or by telephone with the sales advisors of LEMAIRE boutique,
        regardless of the delivery country chosen by the Customer. Any order not
        corresponding to a retail sale and, more generally, any fraudulent order
        may be refused by LEMAIRE. LEMAIRE therefore reserves the right to limit
        the quantities of an article delivered to the same consumer or the same
        postal address. The purpose of these GTCS is, firstly, to inform any
        potential customer about the terms and conditions of the sale of LEMAIRE
        articles to the customer and to define the rights and obligations of the
        parties. Concerning the telephone sales, the customer is invited to
        consult and download the GTCS available on the site before confirming
        his order. Concerning the sale on the site, the customer by checking a
        box provided for this purpose, acknowledges having read the GTCS before
        placing the order and have accepted without reservations. The GTCS can
        be kept by any person visiting the Site, by means of a download and can
        be printed. LEMAIRE reserves the right to modify the GTCS at any time.
        Nevertheless, the GTCS applicable to the order are those accepted by the
        customer at the time of placing the Order. The GTCS are supplemented by
        the rules of the use of cookies and the privacy policy available on the
        site Please note that LEMAIRE partners with Global-e France SAS, a
        company incorporated under the laws of France, whose registered office
        is at 320 rue Saint-Honoré,75001 Paris, France, registered under number
        818 358 459 RCS Paris, which facilitates the sale to customer and thus
        enables customer to make an order in customer’s destination, where
        LEMAIRE does not normally provide order processing and fulfilment
        services.
      </p>
    </div>
    <div class="policy-two">
        <h4>Policy second title</h4>
        <p>
            The present "General Terms and Conditions of Sale »(hereinafter to as
            the GTCS) apply to distance selling of LEMAIRE articles and are reserved
            for consumers acting exclusively for their personal use (hereinafter the
            customer), being specified that French law applies to any order placed
            via the LEMAIRE website available at www.lemaire.fr (hereinafter the
            site) or by telephone with the sales advisors of LEMAIRE boutique,
            regardless of the delivery country chosen by the Customer. Any order not
            corresponding to a retail sale and, more generally, any fraudulent order
            may be refused by LEMAIRE. LEMAIRE therefore reserves the right to limit
            the quantities of an article delivered to the same consumer or the same
            postal address. The purpose of these GTCS is, firstly, to inform any
            potential customer about the terms and conditions of the sale of LEMAIRE
            articles to the customer and to define the rights and obligations of the
            parties. Concerning the telephone sales, the customer is invited to
            consult and download the GTCS available on the site before confirming
            his order. Concerning the sale on the site, the customer by checking a
            box provided for this purpose, acknowledges having read the GTCS before
            placing the order and have accepted without reservations. The GTCS can
            be kept by any person visiting the Site, by means of a download and can
            be printed. LEMAIRE reserves the right to modify the GTCS at any time.
            Nevertheless, the GTCS applicable to the order are those accepted by the
            customer at the time of placing the Order. The GTCS are supplemented by
            the rules of the use of cookies and the privacy policy available on the
            site Please note that LEMAIRE partners with Global-e France SAS, a
            company incorporated under the laws of France, whose registered office
            is at 320 rue Saint-Honoré,75001 Paris, France, registered under number
            818 358 459 RCS Paris, which facilitates the sale to customer and thus
            enables customer to make an order in customer’s destination, where
            LEMAIRE does not normally provide order processing and fulfilment
            services.
          </p>
    </div>
  </div>
</div>

<!-- Start FOOTER -->
<!-- End FOOTER -->
{% endblock content %}
