.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


.about-container .about-logo {
    margin-bottom: 20px;
  }
.about-container .about-logo > img {
  width: 300px;
}

.about-store-image {
    margin-top: 20px;
}

.about-store-image > img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}
