{% load static %} 

<div class="summary-and-payment-contents" id="sap">
    <ul>
      <!-- Personal informations -->
      <li class="summary-personal-infos">
        <ul>
          <li class="p-infos">Personal informations</li>
          <li class="p-email">{{order.email}}</li>
        </ul>
      </li>
      <!-- End Personal informations -->
      <!-- Shipping information -->
      <li class="shipping-container">
        <ul>
          <li class="shipping">
            <ul>
              <li class="sh-detail">shipping details</li>
              <li class="sh-upadate">uptate shipping details</li>
            </ul>
          </li>
          <li class="fullname">{{order.first_name}} {{order.last_name}}</li>
          <li class="fulladress">
            <ul>
              <li>{{order.address_line_1}} - {{order.postcode}}</li>
              <li>{{order.country}}</li>
              <li>{{order.zip_code}}{{order.phone}}</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- End Shipping information -->
      <!-- Delivery method -->
      <li class="delivery-method">
        <ul>
          <li class="delivery-method-title">Delivery method</li>
          <li class="method-price">
            <ul>
              <li class="the-method">
                
                {% if order.delivery_method == 'Colissimo' %}
                Colissimo ( Delivery within 2-4 days )
                {% elif order.delivery_method == 'DHL' %}
                DHL ( Delivery within 2-4 days )
               {% else %}
              No delivery method selected
                {% endif %}
                  
                
              </li>
              <li class="method-price">0 Eur</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- End delivery method -->
      <!-- Start Billing address -->
      <li class="billing-address">
        <ul>
          <li class="billing-title">
            <ul>
              <li class="bill-addr">Billing Address</li>
              <li class="bill-update">Update billing address</li>
            </ul>
          </li>
          <li class="address-note">
            <select name="" id="">
              <option value="">
                {{order.first_name}} {{order.last_name}}, {{order.address_line_1}}, {{order.city}}, {{order.postcode}}
              </option>
            </select>
          </li>
        </ul>
      </li>
      <!-- End Billing address -->
<!-- start of payments methods -->
<li class="summary-payment-method">
    <ul>
        <li class="summary-payment-title">Payment methods</li>
  
        
        {% if order.payment_method == 'Paypal' %}
 <!-- Paypal-->
 <li class="one-payment-method">
  <!-- Set up a container element for the button -->
	<div id="paypal-button-container">
    <!-- PayPal Button Will Load -->
  </div>
</li>
<!-- Paypal -->
          {% elif order.payment_method == 'Card' %}
          <!-- Credit card -->
        <li class="one-payment-method">
          <input name="first_name" type="hidden" class="w-full p-5 rounded-xl" value="{{order.first_name}}">
          <input name="last_name" type="hidden" class="w-full p-5 rounded-xl" value="{{order.last_name}}">
          <input name="city" type="hidden" class="w-full p-5 rounded-xl" value="{{order.city}}">
          <input name="country" type="hidden" class="w-full p-5 rounded-xl" value="{{order.country}}">
          <input name="phone" type="hidden" class="w-full p-5 rounded-xl" value="{{order.phone}}">
          <input name="address_line_1" type="hidden" class="w-full p-5 rounded-xl" value="{{order.address_line_1}}">
          <input name="address_line_2" type="hidden" class="w-full p-5 rounded-xl" value="{{order.address_line_2}}">
          <input name="zip_code" type="hidden" class="w-full p-5 rounded-xl" value="{{order.zip_code}}">
          <input name="postcode" type="hidden" class="w-full p-5 rounded-xl" value="{{order.postcode}}">
          <input name="payment_method" type="hidden" class="w-full p-5 rounded-xl" value="{{order.payment_method}}">
          <input name="delivery_method" type="hidden" class="w-full p-5 rounded-xl" value="{{order.delivery_method}}">
          <input name="order_number" type="hidden" class="w-full p-5 rounded-xl" value="{{order.dorder_number}}">

          <button onclick="buy(event)" class="inline-block px-8 py-4 rounded-xl bg-red-600 hover:bg-red-700 text-white">Pay now</button>
        </li>
        <li>
          <div class="mb-6 p-6 bg-gray-100 rounded-xl" id="errors">
          </div>
        </li>
        <!-- End credit card -->
      </ul>
          </li>
          <!-- End of payments methods -->
          {% else %}
          No payment method selected
        {% endif %}
               
    </ul>
  </div>
