body {
  height: 100vh;
}
.fg_password_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.fg_password_content {
  width: 20%;
  position: absolute;
  border: 1px solid black;
  padding: 25px;
}

.fg_title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: bolder;
}

.fg_password_content > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fg_password_content > form > div {
  width: 100%;
  margin-bottom: 10px;
}

.fg_password_content > form > div > input {
  padding: 5px 5px 5px 15px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
}

.fg_password_content > form > div > button {
  margin-top: 5px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 10px;
  border: none;
  background: rgb(255, 183, 59);
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
}

/* Responsive */

@media (max-width: 1700px) {
  .fg_password_content {
    width: 25%;
  }
}

@media (max-width: 1288px) {
  .fg_password_content {
    width: 40%;
  }
}

@media (max-width: 698px) {
  .fg_password_content {
    width: 60%;
  }
}

@media (max-width: 466px) {
  .fg_password_content {
    width: 95%;
  }
}
